.js-list{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.js-item{
    flex-basis: calc((100% - 60px)/3);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__image{
    width: 313px;
    height: 201px;
}

.box{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.212);
    opacity: 0;
    pointer-events: none;
}

.modal{
    width: 1000px;
    height: 500px;
    background-color: wheat;
}

.modal-close{
    position: absolute;
    top: 220px;
    right: 460px;
    background-color: transparent;
    border: none;
    font-size: 50px;
    color: red;
}

